:root {
    font-family: "carbon", sans-serif;
font-weight: 900;
font-style: normal;
}
.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -3;
}

.portrait {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.452);
  height: 500px;
  width: auto;
  z-index: 2;
  margin: 100px;
  margin-top: 18px;
  position: fixed;
  border-style: dashed;
  border-color: rgb(255, 255, 255);
}

.name {
  align-self: flex-start;
  justify-content: center;
    color: rgb(48, 92, 105);
  font-size: 64px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  animation: fontSizeChange 1.5s ease-in-out infinite alternate;
  z-index: -1;
  margin-top: 128px;
  margin-left: 36%;
}
@keyframes fontSizeChange {
  0% {font-size: 60px;}
  100% {font-size: 72px;}
}
.bio {
  position: relative;
  z-index: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background: rgba(255, 255, 255, 0.315);
  backdrop-filter: blur(6px);
  margin-top: 150px;
}
.bio p {
    font-family: "novecento-sans", sans-serif;
    font-weight: 100;
    font-style: normal;
  padding: 30px;
  font-size: 36px;
  text-align: left;
  margin-left: 34%;
}
footer {
  color: white;
  justify-self: center;
  align-self: center;
  padding: 30px;
}